.projecttext {
	text-align: center;
}

.posts {
	display: flex;
	flex-wrap: wrap;
}

article {
	width: 50%;
	border-bottom: 1px solid grey;
	border-right: 1px solid grey;
}

ul {
	text-align: left;
	font-size: 1.7rem;
}

.title {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0.02em;
}

.pagetitle {
	border-top: 1px solid grey;
	padding-top: 5rem;
	padding-bottom: 3rem;
}



